# **DATA TYPE AND STRUCTURES ( ASSIGNMENT )**

**1. What are data structures, and why are they important?**

**Answer :-**  Data structures are ways to store and organize data. They are important because they help us access, manage, and change data efficiently.

**2. Explain the difference between mutable and immutable data types with examples.**

**Answer :-** Mutable data types like list can be changed (add, remove, update items). Immutable data types like tuple or string cannot be changed after they are created.
Example:
List → a = [1, 2, 3] → a[0] = 10 is allowed
Tuple → a = (1, 2, 3) → a[0] = 10 will give an error

**3. What are the main differences between lists and tuples in Python?**

**Answer :-** Lists are mutable, while tuples are immutable. We can change elements in a list, but not in a tuple. Use a list when data may change, and a tuple when data should stay fixed.

**4. Describe how dictionaries store data.**

**Answer :-** Dictionaries store data as key-value pairs. Each item has a unique key linked to its value.
Example: {"name": "Ali", "age": 25}

**5. Why might you use a set instead of a list in Python?**

**Answer :-** Sets do not allow duplicate values, and they store items in an unordered way. We use sets when we want to keep only unique values.

**6. What is a string in Python, and how is it different from a list?**

**Answer :-** A string is a sequence of characters, and it is immutable. A list can have different data types and is mutable, meaning it can be changed.

**7. How do tuples ensure data integrity in Python?**

**Answer :-** Tuples are immutable, so once they are created, their values cannot be changed. This keeps the data safe and secure.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

**Answer :-** A hash table is a data structure that stores data using key hash values. Python dictionaries use hash tables to give fast access to values.

**9. Can lists contain different data types in Python?**

**Answer :-** Yes, in Python a list can have multiple data types, like integers, strings, or even other lists.
Example: [1, "hello", [2, 3]]

**10. Explain why strings are immutable in Python.**

**Answer :-** Strings are immutable so their data cannot be changed. This helps with memory safety and performance. If we want to change a string, we have to create a new string.

**11. What advantages do dictionaries offer over lists for certain tasks?**

**Answer :-** Dictionaries are better when we need to look up values using unique keys. They give faster access and make code easier to understand by using meaningful keys instead of index numbers.

**12. Describe a scenario where using a tuple would be preferable over a list.**

**Answer :-** Tuples are best when the data should not change. For example, storing a person’s (latitude, longitude) or the days of the week is better with a tuple because the values are fixed.

**13. How do sets handle duplicate values in Python?**

**Answer :-** Sets automatically remove duplicates. If the same value is added more than once, it is only stored once in the set.

**14. How does the “in” keyword work differently for lists and dictionaries?**

**Answer :-** In a list, in checks if a value exists. In a dictionary, in checks if a key exists.
Example: "apple" in [1, "apple"] is True
"name" in {"name": "Ali"} is also True

**15. Can you modify the elements of a tuple? Explain why or why not.**

**Answer :-** No, you cannot change elements of a tuple because it is immutable. Once created, the data inside a tuple stays unchanged.

**16. What is a nested dictionary, and give an example of its use case?**

**Answer :-** A nested dictionary means a dictionary inside another dictionary. It helps store structured data like student details.

**Example:**  

python
Copy code
student = {  
  "name": "Ali",  
  "marks": {"math": 90, "science": 85}  
}  
**17. Describe the time complexity of accessing elements in a dictionary**.

**Answer :-** Accessing values in a dictionary is very fast — the time complexity is usually **O(1)**, which means it takes the same time no matter how big the dictionary is.

**18. In what situations are lists preferred over dictionaries?**

**Answer :-** Lists are better when we need ordered data or when we don't need key-value pairs. For example, a list of items like ["pen", "pencil", "eraser"].

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

**Answer :-** Dictionaries are unordered because they store data by keys, not by position. This means we can’t rely on the order, but we can quickly get values using the key.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

**Answer :-** In a list, we use a number index like list[0] to get data. In a dictionary, we use a key like dict["name"]. Dictionaries are better when we want to label the data.

# **Practical Questions**

**1. Write a code to create a string with your name and print it.**

**Answer :-**

In [ ]:
name = "Ali"
print(name)

Ali

**2. Write a code to find the length of the string "Hello World".**

**Answer :-**

In [ ]:
text = "Hello World"
print(len(text))

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

**Answer :-**

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

**4. Write a code to convert the string "hello" to uppercase.**

**Answer :-**

In [ ]:
text = "hello"
print(text.upper())

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

**Answer :-**

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it.**

**Answer :-**

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

**Answer :-**

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

**Answer :-**

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

**Answer :-**

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

**Answer :-**

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

**Answer :-**

In [ ]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

**Answer :-**

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

**Answer :-**

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

**Answer :-**

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

**Answer :-**

In [ ]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**


**Answer :-**

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

**Answer :-**

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

**Answer :-**

In [ ]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

**Answer :-**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

**Answer :-**

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

**Answer :-**

In [ ]:
person = {"name": "Ali", "age": 25, "city": "Lahore"}
print(person)

{'name': 'Ali', 'age': 25, 'city': 'Lahore'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

**Answer :-**

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

**Answer :-**

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person["name"]

Alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

**Answer :-**

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

**Answer :-**

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

**Answer :-**

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

**Answer :-**

In [ ]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[20, 21, 43, 48, 70]

**28. Write a code to create a list with strings and print the element at the third index.**

**Answer :-**

In [ ]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

**29. Write a code to combine two dictionaries into one and print the result.**

**Answer :-**

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set.**

**Answer :-**

In [ ]:
words = ["apple", "banana", "apple", "orange"]
word_set = set(words)
print(word_set)

{'banana', 'apple', 'orange'}